.about-us-text-card {
  display: flex;
  flex-direction: column;
}
.about-us-text-card-title {
  font-family: "Philosopher";
  font-size: 72px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
  color: #291409;
}
.about-us-text-card-details {
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: justified;
  color: #291409;
  margin: 14px 0;
}
.bold-500 {
  font-weight: 500;
}
.about-us-text-card button:hover {
  color: #f0c394 !important;
  background-color: #291409;
  border-color: #291409 !important;
}
